* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --body-bg-color--: #171717;
  --primary-text-color--: #ffffff;
  --secondary-text-color--: #c7c7c7;
}

a {
  color: var(--primary-text-color--);
  text-decoration: none;
}

body {
  background-color: var(--body-bg-color--);
  color: var(--primary-text-color--);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navbar Start */

header {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 80vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(8px);
}

.nav-logo img {
  width: 15%;
  padding: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav-links a {
  font-size: 1.6em;
  font-weight: 600;
}

/* Navbar End */

/* Main Start */

main {
  width: 70vw;
  /* height: 20vh; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 3vh;
  text-align: center;
}

main .heading {
  font-size: 3.5em;
}
main .desc {
  font-size: 1.5em;
  letter-spacing: 4px;
}

/* Main End */

/* Blogs Sections Start */

.Blogs {
  width: 60vw;
  margin: 10vh auto;
}

.blog-titles a {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-block: 2vh;
  font-size: 1.8em;
  color: var(--secondary-text-color--);
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.blog-titles a:hover {
  color: var(--primary-text-color--);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

/* Blogs Sections End */
@media only screen and (max-width: 1207px) {
  /* body {
    background-color: rebeccapurple;
  } */
  nav,
  header {
    width: 95vw;
    height: 20vh;
    padding: 10px;
  }
}
@media only screen and (max-width: 500px) {
  /* body {
    background-color: red;
  } */
  nav,
  header {
    width: 95vw;
    height: 15vh;
    padding: 10px;
  }
  main {
    width: 95vw;
    height: auto;
  }
  main .heading {
    font-size: 1.7em;
  }
  main .desc {
    font-size: 1.2em;
    letter-spacing: 1px;
  }
  .Blogs {
    width: 90vw;
    margin: 5vh auto;
  }
  .blog-titles a {
    font-size: 1.2em;
  }
}
