* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
}

:root {
  --body-bg-color--: #171717;
  --primary-text-color--: #ffffff;
  --secondary-text-color--: #c7c7c7;
  --highlight-color--: #ff2f00;
}

/* Utility  */
.CSS-color {
  background-color: #6a5acd;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Utility  */

a {
  color: var(--primary-text-color--);
  text-decoration: none;
}

body {
  background-color: var(--body-bg-color--);
  color: var(--primary-text-color--);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navbar Start */

header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 95vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(8px);
}

.nav-logo img {
  width: 15%;
  height: 15%;
  padding: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 10px 5px var(--primary-text-color--);
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.nav-logo img:hover {
  rotate: 360deg;
  box-shadow: 0px 0px 10px 5px var(--highlight-color--);
}
.nav-links img {
  width: 50%;
  height: 15%;
  padding: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 10px 5px var(--primary-text-color--);
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.nav-links img:hover {
  box-shadow: 0px 0px 10px 5px var(--highlight-color--);
}
.nav-links a {
  font-size: 1.6em;
  font-weight: 600;
}

/* Navbar End */

/* Main Start */

main {
  width: 70vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 3vh;
}

main .heading {
  font-size: 2.4em;
  margin-block: 5vh 15vh;
}
main .desc {
  font-size: 1.5em;
  letter-spacing: 5px;
}

section {
  width: 70vw;
  margin: auto;
  text-align: justify;
}

section h2 {
  font-size: 2em;
  margin-block: 8vh 1vh;
}

section p {
  font-size: 1.2em;
  margin-block: 1vh 2vh;
  color: var(--secondary-text-color--);
}

section a {
  color: var(--highlight-color--);
}
section span {
  color: var(--highlight-color--);
  font-weight: 700;
}

section img {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-color: var(--secondary-text-color--);
  cursor: pointer;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

section img:active {
  scale: 1.5;
}

.Completely {
  height: auto;
  margin-block: 10vh 0vh;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.8em;
}

.learn {
  font-size: 1em;
}

code {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 0px 10px 0px var(--highlight-color--);
  padding: 15px;
  margin-block: 4vh;
  font-size: 1.2em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}
code:hover {
  user-select: text;
  cursor: text;
  box-shadow: 0px 0px 10px 5px var(--highlight-color--);
}
/* Main End */

/* Footer Start */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
}

footer p {
  letter-spacing: 2px;
  font-size: 1.2em;
}

footer a {
  border-bottom: 5px solid var(--highlight-color--);
}
/* Footer End */

@media only screen and (max-width: 1055px) {
  /* body {
    background-color: rebeccapurple;
  } */
  nav,
  header {
    width: 95vw;
    height: 20vh;
    padding: 10px;
  }
  main {
    width: 80vw;
    height: auto;
  }
  main .heading {
    font-size: 3em;
  }
  section h2 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 500px) {
  /* body {
    background-color: red;
  } */
  nav,
  header {
    width: 95vw;
    height: 10vh;
    padding: 10px;
  }
  main {
    width: 95vw;
    text-align: center;
  }
  main .heading {
    font-size: 2em;
  }
  section {
    width: 95vw;
  }
  section h2 {
    font-size: 1.8em;
    text-align: center;
  }
  section p {
    font-size: 1.2em;
  }
  section img {
    width: 100%;
  }
  .CSS-color {
    padding: 2px 5px;
    font-size: small;
  }
  .Completely {
    height: auto;
    padding: 0px;
  }
  .Completely p {
    font-size: 1em;
  }
}
